<div class="substrate_container">
  <%= image_tag substrate.url( :poster ) %>
  <div class="substrate_tab">
    <a href="<%= substrate %>.png" class="substrate_tab_zoom" rel="fancybox"></a>
    <a href="<%= substrate %>.png" class="substrate_tab_edit" rel="fancybox"></a>
    <a href="<%= substrate %>.png" class="substrate_tab_layer" rel="fancybox"></a>
  </div>
</div>
