<!DOCTYPE html>
<html>
<head>
  <title>Metabrane.co - Weave a thread between ...</title>
  <%= render :partial => "layouts/head_includes" %>
</head>
<body id="welcome">
  
  <menu>
    <%= image_tag "metabrane_home_logo.png" %>
    <p>
      build narrative environments for idea discovery & creative interplay of meanings.
    </p>
  </menu>
    <div id="content">
      <div class="center">
        <%= image_tag "home_video_proxy.jpg", :id => "proxy" %>
        <p id="credits">video by notthisbody</p>
      </div>
    </div>
  <footer>
    <div class="center">
    <span>&copy; 2011 Metabrane</span>
    <span>About</span>
    <span>What's New</span>
    <span>Content Policy</span>
    <span>Terms of Service</span>
    <span>Privacy Policy</span>
    <%= link_to image_tag( "powered_by_plasmiq.png" ), "http://plasmiq.com/", :id => "plasmiq_logo" %>
    </div>
  </footer>
  
</body>
</html>
