<div class="subnav">
  <div class="shadow"></div>
  <div class="gauge">
    <a class="home"></a>
    <a class="position"></a>
  </div>
  <div class="metatags">
    <% if metatags.size > 3  %>
      <div class="metatag top">
      </div>
    <% end %>
    <% metatags.each do |metatag| %>
      <div class="metatag metatag_<%= metatag.id %>">
        <div class="relation">
          <a class="bullet"></a>
          <%= metatag.relation %>
        </div>
        <%= weave_options_tag metatag, {:fav => true} %>
      </div>
    <% end %>
    <% if metatags.size > 3 %>
      <div class="metatag bottom">
      </div>
    <% end %>
  </div>
  <% if metatags.size > 3 %>
    <div class="vertical_navigation">
      <a class="up"></a>
      <a class="home" data-target=".metatag_<%= home.id %>"></a>
      <a class="down"></a>
    </div>
  <% end %>
</div>
