<div class="subnav">
  <div class="shadow"></div>
  <div class="gauge">
    <a class="home"></a>
    <a class="position"></a>
  </div>
  <div class="metatags">
    <% metatags.each do |metatag| %>
      <div class="metatag metatag_<%= metatag.id %>">
        <div class="relation">
          <a class="bullet"></a>
          <%= metatag.relation %>
        </div>
        <div class="metatag_info toggles">
          <%= weave_fav_link( metatag ) %>
          <span class=""><%= weave_timestamp( metatag) %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="vertical_navigation">
    <a class="up"></a>
    <a class="home"></a>
    <a class="down"></a>
  </div>
</div>
