<% @weaves.each do |weave| %>
  <div class="container" id="container_<%= weave.id %>">
  <%= render :partial => "weaves/weave", :locals => {:pair => weave, :home_id => weave.id} %>
  </div>
<% end %>
