<div class="">
  <table>
    <tr>
      <td class="image_holder left">
        <%= image_tag @wp.substrate1.image.url( :thumb ) %>
      </td>
      <td class="image_holder right">
        <%= image_tag @wp.substrate2.image.url( :thumb ) %>
      </td>
    </tr>
  </table>
  <p><%= @wp.relation %></p>
</div>
