<div class="working_pair">
  <div>
    <%= image_tag pair.image1_url, :class => "left" %>
    <%= image_tag pair.image2_url, :class => "right" %>
  </div>
  <p class="relation"><%= pair.relation %></p>
</div>
