@mixin full_width {
  margin: 0 auto;
  width: 928px;
  clear: both;
}

img {
  margin: 0;
  padding: 0;
}

a {
  img {
    border: 0px;
  }
}

em {
  color: #E03333;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: url("background_tile.jpg") repeat;
  font-family: 'IM Fell DW Pica', serif;
}  
input {
  font-family: 'IM Fell DW Pica', serif;
  &:focus {
    outline: 0px;
  }
}

textarea {
  font-family: 'IM Fell DW Pica', serif;
  resize: none;
  &:focus {
    outline: 0px;
  }
}

h3 {
  margin: 0 20px;
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
  margin-top: -15px;
  margin-bottom: -10px;
  color: #504e4d;
  em {
    color: #e03333;
    margin-right: 5px;
  }
}
  
menu {
  background: url("header_navigationStrip.png") repeat-x;
  display:  block;
  height: 157px;
  margin: 0;
  padding: 0;
  overflow:hidden;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 200;
  div.center {
    @include full_width;
    position: relative;
    
    
    h1 {
      margin: 15px 0 0 32px;
      padding: 0;
      float: left;
      a {
        display: block;
        background: url("metabrane_logo.png") 0 0 no-repeat;
        width: 177px;
        height: 105px;
        span {
          display: none;
        }
      }
    }
    
    #tagline {
      background: url("header_tagline.png") 0 0 no-repeat;
      width: 233px;
      height: 18px;
      position: absolute;
      right: 0px;
      top: 90px;
      display: block;
      overflow: hidden;
      span {
        display: none;
      }
    }
    
    ul {
      float: left;
      margin-top: 30px;
      padding: 0 0 0 20px;
      li {
        list-style: none;
        padding: 0;
        margin: 0 0px;
        display: block;
        float: left;
        width: 183px;
        height: 44px;
        a {
          width: inherit;
          height: inherit;
          display: block;
          background-repeat: no-repeat;
          background-position-x: -183px;
          background-image: url("nav_tabs_sprite.png");
          &:hover {
            background-position-x: -366px;          
          }
          &.selected {
            background-position-x: 0px;
          }
          span {
            display: none;
          }
        }
      }
      
      #l_your_weaves {
        background-position-y: -88px;
      }
      
      #l_create_weaves {
        background-position-y: -44px;
      }
      
    }
  }
}

#content {
  @include full_width;
}

#timeline_end {
  font-size: 180%;
  text-align: center;
  margin: 30px 0 30px 0;
  color: #2E2D2C;
}

footer {
  @include full_width;
}
