@mixin full_width {
  margin: 0 auto;
  width: 928px;
  clear: both;
}

img {
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  cursor: pointer;
  img {
    border: 0px;
  }
}

a:active {
  outline: none;
}

em {
  color: #E03333;
}

a, input { outline: none none !important; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: url("background_tile.jpg") repeat;
  font-family: 'IM Fell DW Pica', serif;
}  
input {
  font-family: 'IM Fell DW Pica', serif;
  border: 0;
  &:focus {
    outline: 0px;
  }
}

textarea {
  font-family: 'IM Fell DW Pica', serif;
  resize: none;
  &:focus {
    outline: 0px;
  }
}

h3 {
  margin: 0 20px;
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
  margin-top: -30px;
  margin-bottom: 10px;
  color: #504e4d;
  em {
    color: #e03333;
    margin-right: 5px;
  }
}

@mixin menuelement($num) {
  $width: 183px;
  $height: 44px;
  $pos: (-1*$num)*$height;
  background-position: -183px $pos;
  &:hover {
    background-position: -366px $pos;    
  }
  &.selected {
    background-position: 0px $pos;    
  }
}

  
menu {
  background: url("header_navigationStrip.png") repeat-x;
  display:  block;
  height: 157px;
  margin: 0;
  padding: 0;
  overflow:hidden;
  margin-bottom: 12px;
  div.center {
    @include full_width;
    position: relative;
    
    
    h1 {
      margin: 18px 0 0 17px;
      padding: 0;
      float: left;
      a {
        display: block;
        background: url("metabrane_logo.png") 0 0 no-repeat;
        width: 199px;
        height: 119px;
        span {
          display: none;
        }
      }
    }
    
    #tagline {
      background: url("header_tagline.png") 0 0 no-repeat;
      width: 233px;
      height: 18px;
      position: absolute;
      right: 0px;
      top: 90px;
      display: block;
      overflow: hidden;
      span {
        display: none;
      }
    }
    
    ul {
      float: left;
      margin-top: 30px;
      padding: 0 0 0 20px;
      margin-bottom: 0px;
      li {
        list-style: none;
        padding: 0;
        margin: 0 0px;
        display: block;
        float: left;
        width: 183px;
        height: 44px;
        a {
          width: inherit;
          height: inherit;
          display: block;
          background-repeat: no-repeat;
          background-image: url("nav_tabs_sprite.png");
          span {
            display: none;
          }
          @include menuelement(0);
          &#l_your_weaves {
            @include menuelement(2);
          }    
          &#l_create_weaves {
            @include menuelement(1);
          }
        }
      }
    }
  }
}

#tooltip {
	position: absolute;
	z-index: 3000;
}

#content {
  position: relative;
  @include full_width;
}

footer {
  @include full_width;
}
