@mixin opacity() {
  -moz-opacity: 0.50;
  -khtml-opacity: 0.50;
  opacity: 0.50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter:alpha(opacity=50);
}

.weave {
  .subnav {
    display: none;
    width: 928px;
    height: 547px; 
    background: url("weavement_slidePanel.png") 0 bottom no-repeat;
    z-index: 100;
    position: relative;
    top: -217px;
    z-index: 0;
    .shadow {
      background: url("weavement_slidePanelShadow.png") 0 0 no-repeat;
      height: 97px;
      width: inherit;
      position: absolute;
      top: 157px;
    }
    .gauge {
      display: block;
      width: 31px;
      height: 308px;
      background: url("subnav_gauge.png") 0 0 no-repeat;
      position: absolute;
      top: 225px;
      right: 0px;  
      .home {
        display: block;
        position: absolute;
        right: 6px;
        top: 100px;
        width: 20px;
        height: 20px;
        background: url("subnav_gaugeHome.png") 0 0 no-repeat;
      }
      .position {
        display: block;
        position: absolute;
        top: 115px;
        left: -18px;
        width: 20px;
        height: 44px;
        cursor: default;
        background: url("subnav_gaugeArrow.png") 0 0 no-repeat;
      }
    }
    .vertical_navigation {
      position: absolute;
      bottom: 0px;
      height: 37px;
      text-align: center;
      width: 100%;
      a {
        background: url("subnav_navigationArrows.png") 0 0 no-repeat;
        display: inline-block;
        margin: 0 30px;
        height: 37px;
        width: 93px;
        &.home {
          background-position: -186px 0px;          
          margin: 0 -30px;
          width: 58px;
          &:hover {
            background-position: -186px -37px;
          }
        }
        &.disabled {
          @include opacity();
          cursor: default;
          &.up:hover {
            background-position: 0px 0px !important;  
          }
          &.down:hover {
            background-position: -93px 0 !important;
          }
        }
        
        &.up:hover {
          background-position: 0px -37px;
        }
        &.down {
          background-position: -93px 0;
          &:hover {
            background-position: -93px -37px;
          }
        }
      }
    }
    .metatags {
      height: 246px;
      overflow: hidden;
      position: absolute;
      bottom: 62px;
      .metatag {
        background: url("weavement_slidePanelDividers.png") 0 bottom no-repeat;
        text-align: center;
        width: 877px;
        height: 82px;
        margin: 0 auto;
        position: relative;
        display: block;
        left: 25px;
        top: 0px;
        &.top, &.bottom {
          background: transparent !important;
        }
        .bullet {
          display: block;
          cursor: default;
          position: absolute;
          top: 11px;
          left: 38px;
          width: 15px;
          height: 15px;
          background: url("subnav_bullet.png") 0 0 no-repeat;
        }
        .relation {
          display: block;
          top: 30px;
          position: relative;
          font-size: 28px;
          width: 100%;
        }
        .timestamp {
          position: absolute;
          right: 40px;
          top: 10px;
          font-size: 13px;
          margin-top: 5px;
          color: #5c5c5c;
          &:hover {
            color: #be212f;
          }
          a {
            float: left;
          }
        }
        
      }
    }
  }
}
