@import "toggles";

$strong_colour: #2e2d2c;
#timeline_end {
  position: relative;
  background: url("btn_scrollUp_loadNew.png") no-repeat 0 0;
  span {
    position: relative;
    top: 10px;
    font-style: italic;
  }
  a {
    display: block;
    position: absolute;
    top: 0px;
    right: 40px;
    width: 53px;
    height: 37px;
    background: url("btn_beginningCreateWeave.png") no-repeat 0 0;
    &:hover {
      background-position: -53px 0;
    }
  }
}
.working_pair { 
  font-family: 'IM Fell DW Pica', serif;
  background: url("weavement_cell.png") no-repeat 0 0;
  height: 547px;
  z-index: 2;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
/* ************************************************************************** */
  .managment {
    position: absolute;
    width: 100%;
    top: 38px;
    &.hidden {
      .substrate_url { 
        display: none;
      }
    }
    .substrate_delete {
      display: none;
      background: url("nav_weaveInput_cancel.png") no-repeat 0 0;
      height: 53px;
      width: 37px;
      top: 245px;
      position: absolute;
      z-index: 100;
      &.left {
        left: 0px;
        &:hover {
          background-position: 0 -53px !important;
        }
      }
      &.right {
        background-position: -37px 0;
        right: 0px;
        &:hover {
          background-position: -37px -53px !important;
        }
      } 
    }
    .substrate_url {
      position: absolute;
      top: 145px;  
      width: 385px;
      height: 78px;
      z-index: 100;
      background: url("input_URLweave.png") 0 0 no-repeat;
      a, input{
        background: url("btn_circleSprite.png") 0 0 no-repeat; 
        height: 51px;
        width: 51px;
        border: 0;
        display: block;
        position: absolute;
        right: 30px;
        top: 15px;
        &.invalid {
          background-position: -102px -153px !important;
        }
        &:hover {
          background-position: -153px -51px !important;
        }
        &.loaded {
          cursor: pointer;
          background-position: -102px -51px !important;
          &:hover {
            background-position: -51px -51px !important;
          }
        }
      }
      #notification_image1 {
        background-position: 0px 0;
      }
      #notification_image2 {
        background-position: -51px 0;
      }
      textarea {
        display: block;
        width: inherit;
        background: none;
        height: 45px;
        margin-left: 20px;
        border: 0px;
        margin-top: 19px;
        padding: 0 6px;
        font-size: 16px;
        color: #2e2d2e;
        width: 265px;
        overflow: hidden;
      }
      &.left {
        left: 30px;
      }
      &.right {
        right: 10px;
      }
    }
  }
/* ************************************************************************** */
  .content {
    height: 350px;
    padding-top: 20px;
    margin-bottom: 40px;
    position: relative;
    background: url("icon_workingPair.png") no-repeat;
    background-position:center; 
    
    table {
      margin: 0 auto;
      height: inherit;
    }
    
    .object {
      width: 356px;
      background: url("object_shadow.png") no-repeat;
      background-position: center bottom;  
      text-align: center;
      padding-bottom: 13px;
      position: relative;
      
      .substrate_container {
        display: inline-block;
        margin-left: 27px;
      }
      &.left {
        margin-right: 55px;
      }
      &.right {
        margin-left: 55px;
      }
    }    
     
  }
  
/* ************************************************************************** */
  .relation {
    text-align: center;
    font-size: 16pt;
    position: relative;
    clear: both;
    width: 878px;
    height: 80px;
    background: url("input_metatagWeave.png") no-repeat 0 0;
    margin: 0 auto;
    
    .working_pair_relation, .working_pair_relation input {
      font-size: 32px;
      color: $strong_colour;
      border: 0px;
      position: relative;
      top: -5px;
      padding: 0 10px;
      width: 50px;
      text-align: center;
      background-color: transparent;
      &.active {
        color: white;
        background-color: black;
      }
    }
    
    
    .button {
      border: 0px;
      background: url("btn_circleSprite.png") no-repeat;
      display: block;
      width: 51px;
      height: 51px;
      position: absolute;
      top: 13px;
      right: 15px;
      cursor: pointer;
      img {
        width: inherit;
        height: inherit; 
        display: inherit;
      }
    }
    .more_relations {
      background-position: 0px -204px;      
    }
    
    .hide_relations {
      background-position: -51px -204px;      
    }
    
    .submit {
      background-position: -51px -51px !important;
    }
    
    .submit_weave {
      background-position: -102px 0px; 
      cursor: default; 
      &:hover {
        background-position: -153px -51px;
      }
      &.loaded {
        cursor: pointer;
        background-position: -102px -51px !important;
        &:hover {
          background-position: -51px -51px !important;
        }
      }
    }
  }
}
