// Place all the styles related to the weaves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$content_width: 345px;

.working_pair {
  
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
  
  .relation {
    font-family: 'IM Fell DW Pica', serif;
    text-align: center;
    font-size: 16pt;
    padding: 10px;
    clear: both;
  }
  
  img {
    margin: 20px;
    width: $content_width;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
}

#new_working_pair {
  
  .image {
    margin: 0;
    padding: 0;
    width: 480px;
    float: left;
  }
  
  img {
    width: $content_width;
    clear: both;
  }
  
  #relation {
    clear: both;
    text-align: center;
  }
  
}
