// Place all the styles related to the weaves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.metatags_sorting {
  display: none;
}

#metatags_sorting, .sorting_select {
  margin: 15px 0 0 40px;
  font-size: 11px;
  width: 240px;
  z-index: 200;
  
}

.ui-selectmenu-menu {
  z-index: 200 !important;
}


#home_button {
  width: 48px;
  height: 48px;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: url("btn_scrollUp.png") no-repeat 0 0;
  &:hover {
    background-position: -48px 0;
  }
}

.weaves_loader {
  display: none;
}

.timeline_end {
  font-size: 180%;
  text-align: center;
  margin: 30px 0 30px 0;
  color: #2E2D2C;

  position: relative;
  background: url("btn_scrollUp_loadNew.png") no-repeat 0 0;
  span {
    position: relative;
    top: 10px;
    font-style: italic;
  }
  a {
    display: block;
    position: absolute;
    top: 0px;
    right: 40px;
    width: 53px;
    height: 37px;
    background: url("btn_beginningCreateWeave.png") no-repeat 0 0;
    &:hover {
      background-position: -53px 0;
    }
  }
  img {
    position: absolute;
    top: 20px;
    right: 43px;
  }
}
