// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome {
  #content {
    overflow:auto;
	  padding-bottom: 112px;
  }

  #wrap {
    min-height: 100%;
  }
    
  footer {
    position: relative;
	  margin-top: -112px;
	  height: 112px;
	  clear:both;
  }
}

#welcome {
  
  .center {
    width: 926px;
    margin: 0 auto;
  }
  
  menu {
    background: url("home_header_strip.png");
    height: 307px;    
    margin: 0 0 50px 0;
    color: #c1c1c1;
    font-size: 40px;
    #header {
      img {
        margin-top: 28px;
        margin-left: 30px;
      }
      ul {
        display: block;
        float: right;
        width: 540px;
        padding: 22px 0;
        margin: 16px 20px 0 0;
        line-height: 1.2;
        font-size:  28px;         
        li {
          display: list-item ;
          width: auto;
          font-size:  18px;
          height: auto;
          float: none;
          margin-bottom: 10px;
          list-style-type: disc !important;
          span {
             font-size:  28px;
             position: relative;
             top: 4px;
          }
        }
        
      }
    }
    #login {
      margin-top: 7px;
      position: relative;
      p {
        margin-left: 22px;
        float: left;
        font-size: 24px;
        font-style: italic;
        color: #988b8b;
      }
      #start_here {
        position: absolute;
        top: -50px;
        right: 40px;
      }
      .persona {
        margin-right: 40px;
        margin-top: 20px;
        width: 269px;
        font-size: 24px;
        color: #282828;
        font-weight: normal;
        height: 27px;
        padding: 5px 10px;
        float: right;
        background: url("home_enter_persona.png");
        &.active {
          background-position: 0 -39px !important;
        }
      }
      .submit {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: transparent;
        position: absolute;
        right: 40px;
        top: 20px;
        outline: none;
        
      }
    }
  }
  
  #content {
    background: url("background_tile.jpg") repeat;
    margin-bottom: 70px;
    .center {
     
      #video {
        cursor: pointer;
        height: 520px;
        #proxy {
          margin: 0 auto;
        }
        #movie {
          display:none;
        }
      }
      #credits {
        font-size: 15px;
        color: #262626;
        font-style: italic;
        padding: 0;
        margin: 5px 0 0 0;
        a, a:visited, a:hover {
          color: inherit;
          text-decoration: underline;
        }
      }
    }
  }
  
  footer {
    background: url("home_footer_strip.png");
    width: 100%;
    color: #9d9d9d;
    font-family: Arial;
    font-size: 12px;
    .center {
      padding-top: 50px;
      span {
        margin-left: 20px;
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      #plasmiq_logo {
        position: relative;
        top: -15px;
        margin-right: 20px;
        float: right;
      }
      #twitter-follow, #twitter {
        position: relative;
        top: 7px;
        margin-left: 40px;
      }
    }
  }
}
